    /* Extra small devices (phones, 600px and down) *

@media only screen and (max-width: 600px) {
  .example {background: red;}
}

/* Small devices (portrait tablets and large phones, 600px and up) *

@media only screen and (min-width: 600px) {
  .example {background: green;}
}

/* Medium devices (landscape tablets, 768px and up) *

@media only screen and (min-width: 768px) {
  .example {background: blue;}
} 

/* Large devices (laptops/desktops, 992px and up) *

@media only screen and (min-width: 992px) {
  .example {background: orange;}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) *

@media only screen and (min-width: 1200px) {
  .example {background: pink;}
}

*/

@media only screen and (max-width: 600px) {
    .nav-icon {
        font-size: 8vw;
        padding-top: 4.5px;
        padding-left: 20px;
        padding-right: 20px;
    }
    
    h1.daycare-index {
        font-size: 7vw;
    }

    p.daycare-caption {
        font-size: 5vw;
    }

    .sidenav a, .dropdown-btn {
        font-size: 6.5vw;
    }

    i.fa.fa-times {
        font-size: 8vw;
        transition: 0.5s;
    }

    a.nav-close {
        padding: 12px 12px 12px 0px;
    }

    input {
        width: 100%;
        font-size: 5vw;
    }

    .addBtn {
        width: 100%;
        margin-top: 10px;
        font-size: 5vw;
    }

    .header {
        padding: 15px;
    }

    .no-top-margin {
        margin-bottom: 20px;
    }

    .header {
        font-size: 4.5vw;
    }

    ul li {
        font-size: 4.5vw;
    }

    .level {
        padding-left: 20%;
        padding-right: 20%;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 5vw;
    }

    .center {
        display: flex;
        flex-wrap: wrap;   
    }

    p.daycare-caption.organize {
        margin-left: auto;
        margin-right: auto;
    }

    a.level.yellow {
        margin: auto;
        margin-bottom: 10px;
    }

    a.level.orange {
        margin: auto;
        margin-bottom: 10px;
    }

    a.level.red {
        margin: auto;
    }

    div.head {
        min-height: 100px;
    }
}


@media only screen and (min-width: 600px) {
    .nav-icon {
        font-size: 6vw;
        padding-top: 5px;
        padding-left: 20px;
        padding-right: 20px;
    }

    h1.daycare-index {
        font-size: 5.5vw;
    }

    p.daycare-caption {
        font-size: 3vw;
    }

    .daycare {
        padding-top: 50px;
    }

    .sidenav a, .dropdown-btn {
        font-size: 6.5vw;
    }

    i.fa.fa-times {
        font-size: 8vw;
        transition: 0.5s;
    }

    a.nav-close {
        padding: 15px 15px 12px 0px;
    }

    input {
        width: 73%;
        font-size: 3vw;
    }

    .header {
        padding: 15px;
    }

    .addBtn {
        width: 23%;
        font-size: 3vw;
    }

    .no-top-margin {
        margin-bottom: 30px;
    }

    .header {
        font-size: 3.2vw;
    }

    ul li {
        font-size: 3vw;
    }

    .level {
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 3vw;
    }

    .btn-space {
        margin-left: 15px;
        margin-right: 15px;
    }

    div.head {
        min-height: 50px;
    }
}



@media only screen and (min-width: 768px) {
    .nav-icon {
        font-size: 5vw;
        padding-top: 4px;
        padding-left: 20px;
        padding-right: 20px;
    }

    h1.daycare-index {
        font-size: 5.5vw;
    }

    p.daycare-caption {
        font-size: 3vw;
    }

    a.nav-close {
        padding: 15px 15px 12px 0px;
    }

    input {
        width: 73%;
        font-size: 3vw;
    }

    .header {
        padding: 40px;
    }

    .addBtn {
        width: 23%;
        font-size: 3vw;
    }

    .no-top-margin {
        margin-bottom: 50px;
    }

    .header {
        font-size: 3.2vw;
    }

    ul li {
        font-size: 3vw;
    }

    .level {
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 3vw;
    }

    .btn-space {
        margin-left: 15px;
        margin-right: 15px;
    }

    div.head {
        min-height: 150px;
    }
} 



@media only screen and (min-width: 992px) {
    .nav-icon {
        font-size: 5vw;
        padding-left: 20px;
        padding-right: 20px;
    }

    h1.daycare-index {
        font-size: 5.5vw;
    }

    p.daycare-caption {
        font-size: 3vw;
    }

    h1.daycare-index {
        font-size: 4.5vw;
    }

    p.daycare-caption {
        font-size: 3vw;
    }

    a.nav-close {
        padding: 15px 15px 12px 0px;
    }

    input {
        width: 73%;
        font-size: 3vw;
    }

    .header {
        padding: 40px;
    }

    .addBtn {
        width: 23%;
        font-size: 3vw;
    }

    .no-top-margin {
        margin-bottom: 50px;
    }

    .header {
        font-size: 3.2vw;
    }

    ul li {
        font-size: 3vw;
    }

    .level {
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 3vw;
    }

    .btn-space {
        margin-left: 15px;
        margin-right: 15px;
    }

    div.head {
        min-height: 150px;
    }
} 



@media only screen and (min-width: 1200px) {
    .nav-icon {
        font-size: 5vw;
        padding-left: 40px;
        padding-right: 40px;
    }

    h1.daycare-index {
        font-size: 5.5vw;
    }

    p.daycare-caption {
        font-size: 3vw;
    }

    .sidenav a, .dropdown-btn {
        font-size: 3.2vw;
    }

    i.fa.fa-times {
        font-size: 5.5vw;
        transition: 0.5s;
    }

    a.nav-close {
        padding: 15px 0px 12px 0px;
    }

    input {
        width: 73%;
        font-size: 3vw;
    }

    .header {
        padding: 40px;
    }

    .addBtn {
        width: 23%;
        font-size: 3vw;
    }

    .no-top-margin {
        margin-bottom: 50px;
    }

    .header {
        font-size: 3.2vw;
    }

    ul li {
        font-size: 3vw;
    }

    .level {
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 3vw;
    }

    .btn-space {
        margin-left: 15px;
        margin-right: 15px;
    }

    div.head {
        min-height: 150px;
    }
}








/*  -------------------------------------------- EVERYTHING ABOVE IS TO MAKE THE SITE RESPONSIVE ------------------------------------------------ */


* {
    box-sizing: border-box;
    font-family: 'Comic Sans MS', 'Lucida Console', Consolas, 'Malgun Gothic', Verdana, Geneva, Tahoma, sans-serif;
}

.about-text {
    font-size: 2vw;
}

/* Style the "Add" button */
.addBtn {
    padding: 10px;
    background: #e20000;
    color: white;
    float: right;
    text-align: center; 
    cursor: pointer;
    transition: 0.5s;
    border-radius: 30px;
}

.addBtn:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);
    transition: 0.5s;
}

.center {
    margin: auto;
    text-align: center;
    width: 90%;
}

/* Style the close button */
.close {
    float: right;
    right: 0;
    top: 0;
}

.daycare {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    text-align: center;
    width: 100%;   
}

.daycare-name-link {
    text-decoration: none;
    color: black;
}

.daycare-index {
    transition: 0.5s;
    margin: auto;
}

.daycare-index:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);
    transition: 0.5s;
}

.header {
    background-color: #ff7800;
    color: white;
    text-align: center;
    width: 75%;
    margin: auto;
}

/* Clear floats after the header */
.header:after {
    content: "";
    display: table;
    clear: both;
}

i.fa.fa-times:hover {
    -ms-transform: scale(1.2); 
    -webkit-transform: scale(1.2); 
    transform: scale(1.2);
    transition: 0.5s;
}

.level {
    margin-top: 20px;
    border-radius: 30px;
    color: white;
    text-decoration: none;
} 

.link {
    color: black;
    text-decoration: none;
    transition: 0.5s;
}

.link:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);
    transition: 0.5s;
    text-decoration: underline;
}

.nav-icon {
    cursor: pointer;
    padding-bottom: 3px; 
    z-index: 6;
    color: black;
    transition: 0.5s; 
}

.nav-icon:hover {
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2);
    transition: 0.5s;
}

.non-active {
    display: none;
}

.no-top-margin {
    margin-top: 0;
}

.orange {
    background-color: #ff7800;
}

.red {
    background-color: #e20000;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9;
    background-image: linear-gradient(yellow, orange, red);
    overflow-x: hidden;
    transition: 0.5s;
    overflow-y: scroll;
    -ms-overflow-style: none; /* IE and Edge */
}

.underline {
    text-decoration: underline;
}

.x {
    width: 10%;
    text-align: center;
    float: right;
}

.yellow {
    background-color: #eeee00;
}

a.about-btn:hover {
    background: #e20000;
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2);
    transition: 0.5s;
}

a.contact-btn:hover {
    background: #ff7800;
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2);
    transition: 0.5s;
}

a.expense-btn:hover {
    background: #ff7800;
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2);
    transition: 0.5s;
}

a.letters-btn:hover {
    background: #e20000;
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2);
    transition: 0.5s;
}

a.nav {
    padding: 12px 0px 12px 0px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    display: block;
    transition: 0.5s;
    width: 100%;
    text-align: center;
}

a.nav-close { 
    text-decoration: none;
    color: white;
    font-weight: bold;
    display: block;
    width: 100%;
    transition: 0.5s;
    overflow: auto;
}

a.home-btn:hover {
    background: #ff7800;
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2);
    transition: 0.5s;
}

a.list-title {
    color: white;
    text-decoration: none;
}

a.submenu-btn:hover {
    background: #eeee00;
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2);
    transition: 0.5s;
}

a.todo-btn:hover {
    background: #eeee00;
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2);
    transition: 0.5s;
}

/* --- this property is out of alphabetical order since it doesn't work when in order; verify why --- */
a.indent {
    padding-left: 10%;
}

button.dropdown-btn:hover {
    background: #eeee00;  
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2);
    transition: 0.5s;
}

div.head {
    overflow: auto;
}

div.nav-icon {
    float: left;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

/* Style the input */
input {
    margin: 0;
    border: none;
    border-radius: 30px;
    padding: 10px;
    float: left;
}

p.daycare-caption {
    padding-left: 10px;
    padding-right: 10px;
}

/* Remove margins and padding from the list */
ul {
    margin: 0;
    padding: 0;
}

/* Style the list items */
ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 40px 12px 40px;
    list-style-type: none;
    background: orange;
    transition: 0.5s;
    width: 75%;
    margin: auto;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
    background: yellow;
}

/* Darker background-color on hover */
ul li:hover {
    opacity: 0.4;
}

/* When clicked on, add a background color and strike out text */
ul li.checked {
    background: rgb(186 35 35 / 0.60);
    color: white;
    text-decoration: line-through;
}









.progress-bar-container {
    height: 50px;
    width: 80%;
    background-color: black;
    border: 5px solid black;
    border-radius: 30px;
    margin: auto;
}

.progress-bar{
    height: 100%;
    width: 5%;
    background-color: yellow;
    border-radius: 30px;
}


.math-container {
    width: 30%;
    border: 5px solid black;
    font-size: 5vw;
    text-align: center;
    margin: auto;
    margin-top: 100px;
    padding: 20px;
}